@font-face {
    font-family: myfonte;
    src: url('FiraCode-Regular.ttf');
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: myfonte;
    font-size: x-small;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}

.text-center {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.vertical-separator {
    border-left: 0.1rem black solid;
    padding-left: 1rem;
    margin-left: 0.5rem;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 2rem;
}

.grid-1 {
    grid-column: 1;
    padding-right: 3rem;
}

.grid-2 {
    grid-column: 2;
}

.progress-back{
    height: 2px;
    background-color: rgb(204, 204, 204);
    border-radius: 8px;
    margin: 1rem;
    margin-bottom: 1.0rem;
    margin-right: 3rem;
    margin-left: 3rem;
}
.progress-foreground{
    height: 100%;
    background-color: rgb(36, 36, 36);
    border-radius: 12px;
}